{% extends "base.html" %}
{% set active_page = "alert-test" %}

{% block content %}

    <div class="container">

      <div class="jumbotron">
        <h2>LArIAT near-real-time data quality monitor</h2>
      </div>

      <div class="panel panel-info" id="alert-test">
        <div class="panel-heading">
          <h3 class="panel-title">Alert system test</h3>
        </div>
        <div class="panel-body">
          <audio id="alarm" src="{{ url_for('static', filename='sound/alarm.ogg') }}" type="audio/ogg"></audio>    
          <p>
            Please test to see if your browser is compatible with the
            alert system. Clicking the play button should sound off an
            audible alarm and make the background of this page flash
            red. Clicking the stop button should return this page back
            to normal.
          </p>
          <p>
            <button type="button" class="btn btn-default" aria-label="Left Align" id="on">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" id="off">
              <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
            </button>
          </p>
          <p>
            The alert system will only work on DQM pages where the
            <em>Live</em> checkbox is checked.
          </p>
        </div>
      </div>

    </div>

    <script src="{{ url_for('static', filename='lib/jquery/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>

    <script type="text/javascript">
    this.$ALERT = false;
    $(document).ready(function () {
        $('#on').click(function() {
            $ALERT = true;
            toggleAlertPanel();
            audioAlert();
            setTimeout(function() {
                if ($ALERT) {
                    console.log("Hello!");
                    //visualAlert();
                    visualAlert_('#alert-test', true);
                }
            }, 1000);
        });

        $('#off').click(function() {
            $ALERT = false;
            toggleAlertPanel();
        });

        function toggleAlertPanel() {
            if ($ALERT) {
                $('#alert-test').addClass('panel-danger').removeClass('panel-info');
            } else {
                $('#alert-test').addClass('panel-info').removeClass('panel-danger');
            }
        }
    });
    </script>

{% include 'scripts.html' %}

{% include 'footer.html' %}

{% endblock %}
