{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}

    <div class="container">

      <div class="jumbotron">
        <h2>LArIAT near-real-time data quality monitor</h2>
      </div>

      {#
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Hello, Shifter!</h3>
        </div>
        <div class="panel-body">
          <p>Please break things and then report it!</p>
        </div>
      </div>
      #}

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">How to run</h3>
        </div>
        <div class="panel-body">
          <p>Move at a speed faster than a walk, never having both feet on the ground at the same time.</p>
          <p><code>$ python</code></p>
          <p>
            <code>&gt;&gt;&gt; from shoe_rack import running_shoes</code><br>
            <code>&gt;&gt;&gt; </code>
          </p>
          <p>
            <pre><code># code block</code></pre>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <h3>Column 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 3</h3> 
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
      </div>

    </div>

{% include 'scripts.html' %}

{% include 'footer.html' %}

{% endblock %}
