{% extends "base.html" %}
{% set active_page = "metrics" %}

{% block content %}

    <div class="container">

      <div class="jumbotron">
        <h2>Near-real-time metrics (time-series data)</h2>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Available metrics</h3>
        </div>
        <div class="panel-body">
          <p>Below is a list of the available metrics at the moment:</p>
          <div class="list-group">
            <a href="{{ url_for('metrics_data_stream') }}" class="list-group-item">Data stream</a>
            <a href="{{ url_for('metrics_tpc_pedestal_mean') }}" class="list-group-item">TPC pedestal mean</a>
            <a href="{{ url_for('metrics_tpc_pedestal_rms') }}" class="list-group-item">TPC pedestal RMS</a>
          </div>
        </div>
      </div>

    </div>

{% include 'scripts.html' %}

{% endblock %}
