{% extends "base.html" %}
{% set active_page = "metrics" %}

{% block content %}

    <div class="container">

      <div class="jumbotron">
        <h2>Near-real-time metrics (time-series data)</h2>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Available metrics</h3>
        </div>
        <div class="panel-body">
          <p>Below is a list of the available metrics at the moment:</p>
          <div class="list-group">
            <a href="{{ url_for('metrics_data_stream') }}" class="list-group-item">Data stream</a>
            <a href="{{ url_for('metrics_tpc_pedestal_mean_deviations_induction') }}" class="list-group-item">TPC pedestal mean deviations on <strong>induction</strong> plane</a>
            <a href="{{ url_for('metrics_tpc_pedestal_mean_deviations_collection') }}" class="list-group-item">TPC pedestal mean deviations on <strong>collection</strong> plane</a>
            <a href="{{ url_for('metrics_tpc_pedestal_rms_induction') }}" class="list-group-item">TPC pedestal RMS on <strong>induction</strong> plane</a>
            <a href="{{ url_for('metrics_tpc_pedestal_rms_collection') }}" class="list-group-item">TPC pedestal RMS on <strong>collection</strong> plane</a>
            <a href="{{ url_for('metrics_caen_v1751_pedestal_mean_deviations') }}" class="list-group-item">CAEN V1751 pedestal mean deviations</a>
            <a href="{{ url_for('metrics_caen_v1751_pedestal_rms') }}" class="list-group-item">CAEN V1751 pedestal RMS</a>
            <a href="{{ url_for('metrics_caen_v1740_v1740b_pedestal_mean_deviations') }}" class="list-group-item">CAEN V1740/V1740B pedestal mean deviations</a>
            <a href="{{ url_for('metrics_caen_v1740_v1740b_pedestal_rms') }}" class="list-group-item">CAEN V1740/V1740B pedestal RMS</a>
          </div>
        </div>
      </div>

    </div>

{% include 'scripts.html' %}

{% include 'footer.html' %}

{% endblock %}
