{% extends "base.html" %}
{% set active_page = "multi-wire-chambers" %}

{% block content %}

    <div class="container">

{% include 'run-subrun-form.html' %}

      <div class="jumbotron">
        <h2>Multi-wire chambers</h2>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Available plots</h3>
        </div>
        <div class="panel-body">
          <p>Below is a list of the available plots at the moment:</p>
          <div class="list-group">
            <a href="{{ url_for('multi_wire_chambers_channels') }}" class="list-group-item">Channel occupancy of hits</a>
            <a href="{{ url_for('multi_wire_chambers_timing') }}" class="list-group-item">Timing of hits</a>
          </div>
        </div>
      </div>

      <div class="panel panel-default" id="mwc-tdc-time-bit-mismatch">
        <div class="panel-heading">
          <h3 class="panel-title">MWC TDCs with mismatched time bits</h3>
        </div>
        <div class="panel-body text-center">
          <div id="mwc-tdc-time-bit-mismatch-alert"></div>
          <div id="mwc-tdc-time-bit-mismatch-histogram"></div>
        </div>
      </div>

    </div>

{% include 'scripts.html' %}

    <script src="{{ url_for('static', filename='lib/d3/js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/d3-tip/js/d3-tip.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/mwc-tdc-time-bit-mismatch-histogram.js') }}"></script>

{% include 'footer.html' %}

{% endblock %}
