
      <div class="row alert alert-success" id="run-subrun-form">

        <form class="form-inline" role="form">

          <div class="col-sm-4">
            <div class="form-group form-group-sm">

              <label class="control-label col-sm-4" for="run">Run</label>
              <div class="col-sm-8">
                <input type="text" class="form-control typeahead" id="run" name="run" value="{{ run }}" placeholder="{{ run }}">
              </div>

            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group form-group-sm">

              <label class="control-label col-sm-4" for="subrun">Sub-run</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="subrun" name="subrun" value="{{ subrun }}" placeholder="{{ subrun }}">
              </div>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group form-group-sm">

              <button type="submit" class="btn btn-default btn-outline">Submit</button>

            </div>
          </div>

        </form>

          <div class="col-sm-2">
            <div class="form-group form-group-sm checkbox">
              <label><input id="checkbox" type="checkbox" value="">Live</label>
            </div>
          </div>

      </div>

      <div class="row alert alert-info" id="date-time-updated-number-sub-runs">
        <div class="col-sm-5">
          <strong>Last updated:</strong> <span id="date-time-updated" title="" style="border-bottom: 1px dotted #000;"></span>
        </div>
        <div class="col-sm-6">
          <strong>Number of sub-runs:</strong> <span id="number-sub-runs"></span>
        </div>
      </div>

      <div class="panel panel-danger collapse" id="alert-panel">
        <div class="panel-heading">
          <h3 class="panel-title">ALERT</h3>
        </div>
        <div class="panel-body">
          <p id="alert-message">
            Alert message.
          </p>
          {#
          <button type="button" class="btn btn-danger" id="acknowledge">Acknowledge</button>
          <button type="button" class="btn btn-success">Acknowledged</button>
          #}
        </div>
      </div>

      {#
      <audio id="alarm" src="{{ url_for('static', filename='sound/alarm.ogg') }}" type="audio/ogg"></audio>
      #}

      <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>

      <script src="{{ url_for('static', filename='lib/jquery/js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='lib/typeahead.js/typeahead.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='lib/moment/js/moment.min.js') }}"></script>
      <script src="{{ url_for('static', filename='lib/jquery-ui/js/jquery-ui.min.js') }}"></script>

      <script src="{{ url_for('static', filename='js/alert.js') }}"></script>

      <script type="text/javascript">
      this.$RUN = "{{ run }}";
      this.$SUBRUN = "{{ subrun }}";

      //if ($RUN == "None") {
      //    $RUN = "latest"
      //};

      //if ($RUN == "latest") {
      //    $.getJSON($SCRIPT_ROOT + '/json/latest-runs?limit=1', function(data) {
      //        console.log(data.results[0].run);
      //        $("#run").val(data.results[0].run);
      //    });
      //}

      this.$UPDATE = false;
      this.$ALERT = false;
      this.$AUDIO = true;
      this.$ACKNOWLEDGED = false;
      </script>

      <script type="text/javascript">
      $(document).ready(function () {

          if (window.location.href.indexOf("?live") > -1) {
              $('#checkbox').attr('checked', true);
              $UPDATE = true;
          } else {
              $('#checkbox').attr('checked', false);
              $('#run-subrun-form').addClass('alert-danger').removeClass('alert-success');
              $UPDATE = false;
          }

          function checkLatestRun() {
             $.getJSON($SCRIPT_ROOT + '/json/latest-runs?limit=1', function(data) {
                 var latestRun = +data.results[0].run;
                 if (latestRun > +$RUN) {
                    window.location.reload();
                 }
             });
          }

          function updateTimestamp() {

              // http://stackoverflow.com/questions/15764844/jquery-getjson-save-result-into-variable/15764911#15764911

              $.getJSON($SCRIPT_ROOT + '/json?query=date_time_updated&run=' + $RUN + '&subrun=' + $SUBRUN, updateTimestampCallback);

              function updateTimestampCallback(data) {

                 var offset;
                 if (moment(Date.parse(data.date_time_updated)).isDST()) {
                     offset = '-0500';
                 } else {
                     offset = '-0600';
                 }

                 var now = Date.now()
                 var date_time_updated = Date.parse(data.date_time_updated + offset);

                 if (now - date_time_updated > 5 * 60 * 1000) {
                     $('#date-time-updated-number-sub-runs').addClass('alert-danger').removeClass('alert-info');
                     if ($UPDATE) {
                         $ALERT = true;
                         visualAlert();
                         //audioAlert();
                         if ($AUDIO) {
                             audioAlert();
                             $AUDIO = false;
                         }
                         alertPanel('DQM has not updated within the last 5 minutes! Please notify an expert!');
                     }
                 } else {
                     $('#date-time-updated-number-sub-runs').addClass('alert-info').removeClass('alert-danger');
                     $ALERT = false;
                     $AUDIO = true;
                     alertPanelCollapse();
                 }
                 //console.log("Time difference:", now - date_time_updated);
                 //console.log("5 minutes:", 5 * 60 * 1000);
                 //console.log("5 minutes ago:", moment(now - 5 * 60 * 1000).fromNow());
                 $("#date-time-updated").attr('title', moment(date_time_updated).format('MMMM Do YYYY, h:mm:ss a'));
                 $("#date-time-updated").html(moment(date_time_updated).fromNow());

              }
          }

          function updateNumberSubRuns() {
             $.getJSON($SCRIPT_ROOT + '/json?query=subruns&run=' + $RUN, function(data) {
                 var numberSubRuns = data.subruns.sort(function(a, b){return b-a})[0];
                 $("#number-sub-runs").html(JSON.stringify(numberSubRuns));
             });
          }

          updateTimestamp();
          updateNumberSubRuns();

          var timeout;
          function loadNext() {
              if ($UPDATE) {
                  checkLatestRun();
                  updateTimestamp();
              }
              updateNumberSubRuns();
              timeout = setTimeout(loadNext, 15000);
          }

          if ($UPDATE) {
              setTimeout(loadNext, 30000);
          }
      });
      </script>

{#
    http://stackoverflow.com/questions/11498957/jquery-removing-everything-after-question-mark-in-url
    http://jsbin.com/xikufatohi/1/edit?js,console
#}

      <script type="text/javascript">
      var getURL = function(url) {
          if (url.indexOf('?') === -1) {
              return {
                  base : url,
                  query : ''
              };
          } else {
              return {
                  base : url.substring(0, url.indexOf('?')),
                  query : url.substring(url.indexOf('?'))
              };
          }
      };

      function urlLive() {
          $('ul.navbar-nav li a, div.list-group a').attr('href', function(index, value) {
              var url = getURL(value);
              //console.log('url.base', url.base)
              //console.log('url.query', url.query)
              //console.log('value', value)
              //console.log('index', index)
              return url.base + '?live';
          });
      };

      function urlRunSubrun() {
          $('ul.navbar-nav li a, div.list-group a').attr('href', function(index, value) {
              var url = getURL(value);
              //console.log('url.base', url.base)
              //console.log('url.query', url.query)
              //console.log('value', value)
              //console.log('index', index)
              return url.base + '?run=' + $RUN + '&subrun=' + $SUBRUN;
          });
      };
      </script>

      <script type="text/javascript">
      $(document).ready(function () {
          if ($('#checkbox').is(":checked")) {
              console.log('Checked');
              urlLive();
          } else {
              urlRunSubrun();
          }
      });
      </script>

      <script type="text/javascript">
      $('#checkbox').change(function() {
          if ($(this).is(':checked')) {
              console.log('Checked');
              $UPDATE = true;
              //$RUN = "latest";
              window.location.replace("{{ request.path }}?live");
          } else {
              console.log('Unchecked');
              $('#run-subrun-form').addClass('alert-danger').removeClass('alert-success');
              $UPDATE = false;
              urlRunSubrun();
          }
      });
      </script>

      <script type="text/javascript">
      // https://github.com/twitter/typeahead.js/pull/703

      $(document).ready(function() {
          // instantiate the bloodhound suggestion engine
          var engine = new Bloodhound({
              datumTokenizer: function(datum) {
                  return Bloodhound.tokenizers.whitespace(datum.run);
              },
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              prefetch: {
                  url: $SCRIPT_ROOT + "/json/latest-runs?limit=100",
                  filter: function(data) {
                      //console.log("data", data.results)
                      return $.map(data.results, function(result) {
                          return {
                              run: result.run,
                              subruns: result.subruns
                          };
                      });
                  },
                  cache: false
              }
          });

          // initialize the bloodhound suggestion engine
          engine.initialize();

          // instantiate the typeahead UI
          $('.typeahead').typeahead(
              {
                  hint: true,
                  highlight: true,
                  minLength: 1,
              },
              {
                  //name: 'engine',
                  displayKey: 'run',
                  source: engine.ttAdapter(),
                  templates: {
                      suggestion: function(data) {
                          return '<div>' + data.run + ' &mdash; ' + data.subruns[data.subruns.length - 1] + ' sub-runs</div>';
                      }
                  },
                  limit: 15,
              }
          );

          function updateCache() {
              // clear suggestions loaded from local and prefetch
              engine.clear();

              // clear prefetch data stored in local storage
              engine.clearPrefetchCache();

              // clear cache of responses generated by remote requests
              engine.clearRemoteCache();

              // reinitialize the suggestion engine, i.e., load data 
              // from `local` and `prefetch`
              engine.initialize(true); // have to pass true in order to reinitialize
          }

          var timeout;
          function loadNext() {
              updateCache();
              timeout = setTimeout(loadNext, 60000);
          }

          setTimeout(loadNext, 30000);
      });
      </script>

