/* for navbar-fixed-top */
body {
  padding-top: 70px;
}

.layer {
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: darkorange;
}

.tile {
  opacity: 1.0;
}

.tile:hover {
  opacity: 0.5;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.area {
  fill: lightsteelblue;
  opacity: 0.05;
  stroke-width: 0;
}

.d3-tip {
  line-height: 1.2;
  font-weight: normal;
  padding: 11px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
